{% extends 'base.html.twig' %}

{% block title %}Hello Stagiaire1Controller!{% endblock %}



{% block body %}
<h1> salam liste des stagiaires
</h1>
<p>le nombre de stagiaires en formation sont des dizaines</p>

{% endblock %}
